body {
    background-color: black;
}
#header {
    text-align: center;
    padding: 50px;
    color: white;
}

#portPic {
    object-fit: scale-down;
    height: 400px;
    width: 600px;
    float: left;
    padding-top: 100px;
}

#welcomeMessage {
    color: white;
    padding-top: 150px;
    padding-bottom: 50px;

}

#navBar {
    padding-top: 50px;
    color: white;
}

#bio {
    padding-top: 250px;
    color: white;
    text-align: center;
}

#resume {
    padding-top: 250px;
    color: white;
    text-align: center;
}

#skills {
    float: left;
    padding-top: 50px;
    padding-right: 300px;
    color: white;
}

#experience {
    padding-top: 50px;
    color: white;
}

#projBox1 {
    padding-top: 250px;
}
/* ======= CAROUSEL SECTION ======== */

.container {
    padding: 150px;
    height: 500px;
}
.container > img {
	width: 50%;
}

.carousel-container {
	width: 70%;
	display: flex;
}
.carousel-images {
	width: 80%;
	padding: 10px;
}
.carousel-images img {
	width: 100%;
	display: none;
}
.carousel-button {
	align-self: center;
	background: white;
    padding: 10px;
	border-radius: 50%;
}
.carousel-button:hover {
	cursor: pointer;
	background: rgb(53, 154, 226);
	color: white;
}

.carousel-images img:first-of-type {
	display: block;
}

/* end of carousel */

#project1 {
    padding-top: 0px;
    color: white;
}

#proBox2 {
    color: white;
}

#project2 {
    color: white;
}

#footerLinks {
    padding-top: 200px;
    color: white;
    text-align: center;
}