body {
    background-color: black;
}
#header {
    text-align: center;
    font-size: 35px;
    padding: 50px;
    color: white;
}

#portPic {
    object-fit: scale-down;
    height: 400px;
    width: 600px;
    float: left;
    padding-top: 100px;
}

#welcomeMessage {
    font-size: 25px;
    color: white;
    padding-top: 150px;
    padding-bottom: 50px;

}

#navBar {
    padding-top: 50px;
    color: white;
}

#bio {
    font-size: 20px;
    padding-top: 250px;
    color: white;
    text-align: center;
}

#resume {
    font-size: 25px;
    padding-top: 250px;
    color: white;
    text-align: center;
}

#skills {
    font-size: 20px;
    float: left;
    padding-top: 50px;
    padding-right: 300px;
    color: white;
}

#experience {
    float: right;
    font-size: 20px;
    padding-top: 50px;
    color: white;
}

#projBox1 {
    padding-top: 550px;
}

/* ======= HARRY POTTER CAROUSEL SECTION ======== */

.container > img {
	width: 50%;
}

.carousel-container {
	width: 70%;
	display: flex;
}
.carousel-images {
	width: 80%;
	padding: 10px;
}
.carousel-images img {
	width: 100%;
	display: none;
}
.carousel-button {
	align-self: center;
	background: white;
    padding: 10px;
	border-radius: 50%;
}
.carousel-button:hover {
	cursor: pointer;
	background: rgb(53, 154, 226);
	color: white;
}

.carousel-images img:first-of-type {
	display: block;
}

/* ======= END OF HARRY POTTER CAROUSEL SECTION ======== */

#proBox2 {
    padding-top:250px;
}

/* ======= LOTR CAROUSEL SECTION ======== */

.container2 > img {
	width: 50%;
}

.carousel-container2 {
	width: 70%;
	display: flex;
}
.carousel-images2 {
	width: 80%;
	padding: 10px;
}
.carousel-images2 img {
	width: 100%;
	display: none;
}
.carousel-button2 {
	align-self: center;
	background: white;
    padding: 10px;
	border-radius: 50%;
}
.carousel-button2:hover {
	cursor: pointer;
	background: rgb(53, 154, 226);
	color: white;
}

.carousel-images2 img:first-of-type {
	display: block;
}

/* ======= END OF LOTR CAROUSEL SECTION ======== */
#project1 {
    padding-top: 0px;
    font-size: 20px;
    color: white;
}

#project2 {
    padding-top:0px;
    font-size: 20px;
    color: white;
}

#footerLinks {
    padding-top: 200px;
    color: white;
    text-align: center;
}