body {
    background-color: black;
}
#header {
    text-align: center;
    padding: 50px;
    color: white;
}

#portPic {
    object-fit: scale-down;
    height: 400px;
    width: 600px;
    float: left;
    padding-top: 100px;
}

#welcomeMessage {
    color: white;
    padding-top: 150px;
    padding-bottom: 50px;

}

#navBar {
    padding-top: 50px;
    color: white;
}

#bio {
    padding-top: 250px;
    color: white;
    text-align: center;
}

#resume {
    padding-top: 250px;
    color: white;
    text-align: center;
}

#skills {
    float: left;
    padding-top: 50px;
    padding-right: 300px;
    color: white;
}

#experience {
    padding-top: 50px;
    color: white;
}

#hPotterPic1 {
    object-fit: scale-down;
    height: 500px;
    width: 500px;
    padding-top: 250px;
    color: white;
}

#hPotterPic2 {
    object-fit: scale-down;
    height: 500px;
    width: 500px;
    color: white;
}

#hPotterPic3 {
    object-fit: scale-down;
    height: 500px;
    width: 500px;
    color: white;
}

#project1 {
    color: white;
}

#proBox2 {
    color: white;
}

#project2 {
    color: white;
}

#footerLinks {
    padding-top: 200px;
    color: white;
    text-align: center;
}